<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>FastAPI + Vue</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <input v-model="text" placeholder="Введите строку">
    <button @click="send">Отправить</button>
    <!-- <p>Результат: {{ result }}</p>
    <p>Результат: {{ db_columns }}</p> -->

    <table border="1" v-if="isVisible">
      <thead>
        <tr>
          <th>Предмет</th>
          <th>Оценка</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in db_columns" :key="index">
          <td>{{ item }}</td>
          <td>{{ result[index] }}</td>
          <!-- <td>bob</td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          text: '',
          result: [],
          db_columns: [],
          isVisible: false
        }
      },
      methods: {
        async send() {
          try {
            const res = await fetch('/api/user_marks', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ text: this.text })
            })
            const data = await res.json()
            
            let marks = data.result[0];
            marks.shift();
            this.result = marks;
          } catch (e) {
            console.error(e)
          }

          try {
            const res = await fetch('/api/columns', {
              method: 'GET'
            })
            const columns = await res.json()
            
            columns.shift(); 
            this.db_columns = columns;
          } catch (e) {
            console.error(e)
          }

          this.isVisible = true;
        }
      }
    }).mount('#app')
  </script>
</body>
</html>
